In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
filters_models = pd.read_pickle("filters-models.pkl")
filters_models.head()

,fish_id,zone,input_noise_std,model_id,model_filter,model_bias,train_error,valid_error
0,fish,dlz,0.05,0,"[0.017569115, 0.0031394341, -0.01539016, -0.00...",-0.125259,0.055214,0.049846
1,fish,dlz,0.05,1,"[0.017569115, 0.0031394341, -0.01539016, -0.00...",-0.112887,0.052514,0.051680
2,fish,dlz,0.05,10,"[0.017569115, 0.0031394341, -0.01539016, -0.00...",-0.088350,0.054415,0.056214
3,fish,dlz,0.05,11,"[0.017569115, 0.0031394341, -0.01539016, -0.00...",-0.070196,0.053801,0.054285
4,fish,dlz,0.05,12,"[0.017569115, 0.0031394341, -0.01539016, -0.00...",-0.076064,0.052060,0.053804